.u-section-1 {background-image: url("images/20215.jpg")}
.u-section-1 .u-sheet-1 {min-height: 1223px}
.u-section-1 .u-image-1 {width: 553px; height: 348px; margin: 212px auto 0 43px}
.u-section-1 .u-image-2 {width: 570px; height: 362px; margin: 76px auto 0 35px}
.u-section-1 .u-group-1 {width: 500px; min-height: 611px; height: auto; margin: -692px auto 60px 681px}
.u-section-1 .u-container-layout-1 {padding: 30px 30px 29px}
.u-section-1 .u-text-1 {font-weight: 700; font-style: italic; background-image: none; animation-duration: 1000ms; margin: -4px -9px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 868px}
.u-section-1 .u-image-1 {width: 388px; height: 211px}
.u-section-1 .u-image-2 {width: 361px; height: 229px; margin-top: 108px; margin-left: 43px}
.u-section-1 .u-group-1 {min-height: 631px; margin-top: -599px; margin-right: 0; margin-left: auto}
.u-section-1 .u-container-layout-1 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-text-1 {width: auto; margin: 0 0 0 2px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 930px}
.u-section-1 .u-image-1 {width: 321px; height: 202px; margin-left: 0}
.u-section-1 .u-image-2 {width: 321px; height: 183px; margin-top: 43px; margin-left: 0}
.u-section-1 .u-group-1 {width: 391px; min-height: 454px; margin-top: -402px; margin-right: auto; margin-left: 364px}
.u-section-1 .u-text-1 {font-size: 0.75rem; margin-right: 20px; margin-left: 10px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 815px}
.u-section-1 .u-image-1 {width: 266px; height: 168px; margin-top: 574px; margin-left: 5px}
.u-section-1 .u-image-2 {width: 285px; height: 168px; margin-top: -168px; margin-left: 294px}
.u-section-1 .u-group-1 {width: 430px; min-height: 324px; margin-top: -553px; margin-left: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 0.625rem; margin-right: 0; margin-left: 5px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 995px}
.u-section-1 .u-image-1 {margin-top: 543px; margin-left: -8px}
.u-section-1 .u-image-2 {margin-top: 36px; margin-left: 84px}
.u-section-1 .u-group-1 {width: 308px; min-height: 341px; margin-top: -741px; margin-left: 16px}
.u-section-1 .u-text-1 {margin-right: 5px} }